* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  flex-direction: column;
}

.comic-section {
  width: 95vw;
  padding: 5vw 0 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.comic-box {
  width: 93%;
  height: 50vw;
  background: #000;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.comic-box img {
  z-index: 4;
  width: 40vw;
  height: 55vw;
  position: relative;
  top: -4.8vw;
  left: -0.8vw;
}

.highlight {
  color: #d1293c;
  font-size: 6vw;
  font-weight: 800;
}

.window {
  z-index: 2;
}

.text {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.3vw;
  font-weight: 820;
  position: absolute;
  top: 8vw;
  left: 58vw;
  color: rgb(0, 0, 0);
  z-index: 3;
  line-height: 0.9;
  margin: 0;
  padding: 0;
}

.window img {
  width: 45vw;
  height: 55vw;
  position: absolute;
  top: -9vw;
  left: 51vw;
}

.lines-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.line {
  position: absolute;
  background-color: white;
  z-index: 1;
}

.line-1 {
  width: 89%;
  height: 2.5vw;
  top: 36vw;
}

.line-2 {
  width: 89%;
  height: 2.5vw;
  bottom: 10%;

  top: 41.5vw;
}

.line-3 {
  width: 2.5vw;
  height: 30%;
  bottom: 10vw;
  right: 3vw;
  transform: rotate(48deg);
}

.line-4 {
  width: 2.5vw;
  height: 30%;
  bottom: 4.2vw;
  right: 3vw;
  transform: rotate(48deg);
}

.line-5 {
  width: 2.5vw;
  height: 50%;
  bottom: 20%;
  right: 9vw;
  top: 30vw;
  transform: rotate(0deg);
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.mask {
  position: absolute;
  background: white;
  z-index: 3;
}

.mask-1 {
  width: 10vw;
  height: 60vw;
  top: -5vw;
  left: -10vw;
}

.mask-2 {
  width: 59vw;
  height: 5vw;
  bottom: -5vw;
  right: 30vw;
}

.comic-box img {
  width: 40vw;
  height: 55vw;
  position: relative;
  top: -4.8vw;
  left: -0.8vw;
  opacity: 0;
  z-index: 2;

  transform: translate(-20vw, 10vw);
  animation: roosterAppear 1s ease-out forwards;
}

.text {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.3vw;
  font-weight: 820;
  position: absolute;
  top: 8vw;
  left: 58vw;
  color: rgb(0, 0, 0);
  z-index: 3;
  line-height: 0.9;
  margin: 0;
  padding: 0;
  animation: shake 0.2s ease-in-out infinite alternate;
}

.window img {
  width: 45vw;
  height: 55vw;
  position: absolute;
  top: -9vw;
  left: 51vw;
  animation: shake 0.2s ease-in-out infinite alternate;
}

.eye {
  position: absolute;
  z-index: 50;

  top: 10vw;
  left: 40vw;

  width: 10vw;

  opacity: 0;

  animation: showEye 0.3s forwards;
  animation-delay: 0.9s;
}

.eye img {
  position: absolute;
  width: 80%;
  left: -14vw;
  top: 5vw;
}

@keyframes showEye {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.eye-open {
  animation: eyeOpen 1.5s infinite;
}

.eye-close {
  animation: eyeClose 1.5s infinite;
}

@keyframes eyeOpen {
  0%,
  90%,
  100% {
    opacity: 1;
  }
  92%,
  98% {
    opacity: 0;
  }
}

@keyframes eyeClose {
  0%,
  90%,
  100% {
    opacity: 0;
  }
  92%,
  98% {
    opacity: 1;
  }
}

.swiper-section {
  width: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-window {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  flex-direction: column;
  align-items: center;
  gap: 1vw;

  background: white;

  padding: 3vw;

  border: 0.3vw solid black;

  z-index: 50;
}

.name-title {
  font-size: 2vw;
  font-weight: 800;
}

.triangles-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-triangle-black {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 50vw solid transparent;
  border-right: 88vw solid black;
  left: 6vw;
  top: 11.5vw;
}

.bg-triangle-red {
  position: absolute;

  width: 0;
  height: 0;
  border-bottom: 50vw solid transparent;
  border-left: 88vw solid #d1293c;
  right: 6vw;
  top: 10vw;
}

.swiper-container {
  width: 80vw;
  height: 60vw;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.swiper-wrapper {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
}

.swiper-slide {
  flex: 0 0 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
  cursor: pointer;
  z-index: 5;
  border-radius: 0.2vw;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.left-arrow {
  z-index: 15;
  border-right: 5vw solid white;
  left: 9vw;
}

.right-arrow {
  border-left: 5vw solid white;
  right: 9vw;
}

.done-button {
  position: absolute;
  top: 56vw;
  left: 43vw;
  padding: 1vw 4vw;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.5vw;
  font-weight: 800;
  z-index: 5;
}

.input-window input {
  padding: 10px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px 20px;

  background: black;
  color: white;

  border: none;
  cursor: pointer;
}

.window-swiper {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
}

.text-swiper {
  z-index: 12;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.3vw;
  font-weight: 820;
  color: rgb(0, 0, 0);
  line-height: 0.9;
  margin: 0;
  padding: 0;
  animation: shake1 0.2s ease-in-out infinite alternate;
  position: absolute;
  top: -25vw;
  left: -43vw;
}

.highlight-swiper {
  color: #d1293c;
  font-size: 6vw;
  font-weight: 800;
}

.window-swiper img {
  position: absolute;
  top: -40vw;
  left: -50vw;
  width: 38vw;
  height: 45vw;
  animation: shake 0.2s ease-in-out infinite alternate;
}

.cards-section {
  width: 100%;
  height: 60vw;
  display: flex;
  justify-content: center;
}

.card {
  overflow: hidden;
  position: relative;
}

.card-left {
  top: 6vw;
  width: 30vw;
  height: 50vw;
  background: black;

  clip-path: polygon(0% 98.2%, 0% 0%, 99.8% 3.5%, 84.6% 99.9%);
}

.card-center {
  top: 7.7vw;
  width: 30vw;
  height: 50vw;
  background: #d1293c;

  clip-path: polygon(10.7% 0%, 0% 97.7%, 100% 100%, 85.6% 4%);
}

.card-right {
  top: 8.8vw;
  width: 30vw;
  height: 50vw;
  background: black;
  clip-path: polygon(99.9% 3.8%, 0% 0%, 21.7% 98.2%, 99.9% 100%);
}

.boom {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: rotateBoom 2s linear infinite;
}

.hand {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: shakeHand 1s ease-in-out infinite alternate;
}

.hand1 {
  top: -16vw;
  left: 9vw;
}

.hand2 {
  top: 17vw;
  right: 10vw;
}

@keyframes rotateBoom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shakeHand {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(5vw, 3vw);
  }
}

.bird {
  position: absolute;
  transition: opacity 0.5s ease;
}
.bird1 {
  opacity: 1;
  top: -1.2vw;
  left: -13.5vw;
  width: 48vw;
  height: 68vw;
}

.bird2 {
  opacity: 0;
  width: 48vw;
  height: 68vw;
}

.card-center:hover .bird1 {
  opacity: 0;
}

.card-center:hover .bird2 {
  opacity: 1;
  top: 2vw;
  left: -2vw;
}

.boom {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: rotateBoom 2s linear infinite;
}

.boom1 {
  animation-direction: normal;
}

.boom3 {
  animation-direction: reverse;
}

.hand11 {
  width: 40%;
  height: 40%;
  position: absolute;
  animation: shakeHandXY 1s ease-in-out infinite alternate;
}

.hand3 {
  top: 5vw;
  left: 4vw;
}

.hand4 {
  top: 17vw;
  right: 2vw;
}

@keyframes rotateBoom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shakeHandXY {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, 30px);
  }
}

.fight-section {
  width: 100%;
  height: 60vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fight-section {
  width: 100%;
  height: 60vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fight-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;

  clip-path: polygon(0.03% 0.06%, 99.92% 8.48%, 99.92% 99.85%, 0.03% 99.85%);

  z-index: 1;
}

.fight-content {
  position: relative;
  width: 90vw;
  height: 50vw;
  z-index: 3;
  box-sizing: border-box;
}

.fist {
  position: absolute;
  width: 52vw;
  height: 54vw;
  animation: fistPunch 2s infinite ease-in-out;
}

@keyframes fistPunch {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20vw);
  }
  100% {
    transform: translateY(0);
  }
}

.fight-boom {
  position: absolute;
  left: 35vw;
  top: 10vw;
  width: 58vw;
  height: 41vw;
  animation: boomRotate 1.5s infinite alternate;
}

@keyframes boomRotate {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(3deg);
  }
}

.feather {
  position: absolute;
  width: 6vw;
  animation: featherMove 1.5s infinite ease-in-out alternate;
}

.feather1 {
  height: 40vw;
  width: 10vw;
  left: 70vw;
  top: -2vw;
}

.feather2 {
  height: 20vw;
  width: 4vw;
  left: 60vw;
  top: 8vw;
  animation-delay: 0.3s;
}

.feather3 {
  height: 40vw;
  width: 13vw;
  left: 50vw;
  top: 14vw;
  animation-delay: 0.6s;
  z-index: 10;
}

@keyframes featherMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3vw);
  }
}

.name-plate {
  position: absolute;
  z-index: 27;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.3vw;
  font-weight: 820;
  color: rgb(0, 0, 0);
  line-height: 0.9;
  margin: 0;
  padding: 0;
  animation: shake1 0.2s ease-in-out infinite alternate;
  position: absolute;
  top: 47.6vw;
  left: 71vw;
}

.window55 {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
}

.text55 {
  z-index: 12;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.3vw;
  font-weight: 820;
  color: rgb(0, 0, 0);
  line-height: 0.9;
  margin: 0;
  padding: 0;
  animation: shake1 0.2s ease-in-out infinite alternate;
  position: absolute;
  top: 14vw;
  left: 15vw;
}

.img55 {
  position: absolute;
  top: 8.5vw;
  left: 10vw;
  height: 25vw;
  width: 38vw;
  animation: shake2 0.2s ease-in-out infinite alternate;
}

.puzzle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 90vw;
  height: 50vw;
  background-position: -15vw -2vw;
  background: #d1293c;
  clip-path: polygon(0% 0%, 100% 0%, 100% 93.8%, 0% 100%);
  background-image: url(../images/bg-cup.svg);
  background-size: 90vw;
  background-repeat: no-repeat;
  background-position: 1vw 1vw;
}

.bg-puzzele {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d1293c;
  clip-path: polygon(0% 0%, 100% 0%, 100% 93.8%, 0% 100%);
  z-index: 1;
}

.rooster {
  position: absolute;
}

.rooster1 {
  top: -1.2vw;
  left: 60vw;
  width: 48vw;
  height: 68vw;
}

.rooster2 {
  top: -1.2vw;
  left: -18vw;
  width: 48vw;
  height: 68vw;
}

.puzzle-piece {
  position: absolute;
  width: 13vw;
  cursor: grab;
}

.piece1 {
  left: 10vw;
  top: 5vw;
  width: 25vw;
}
.piece2 {
  left: 58vw;
  top: 1vw;
}
.piece3 {
  right: 60vw;
  top: 18vw;
}
.piece4 {
  right: 20vw;
  top: 18vw;
}

.drop-zone {
  position: absolute;
}

.drop1 {
  left: 33vw;
  top: 3vw;
  width: 25vw;
  height: 20vw;
}
.drop2 {
  left: 44vw;
  top: 3vw;
  width: 15vw;
  height: 22vw;
}
.drop3 {
  left: 34.4vw;
  top: 15vw;
  width: 15vw;
  height: 30vw;
}
.drop4 {
  left: 40.8vw;
  top: 17vw;
  width: 15vw;
  height: 28vw;
}

.drop-zone.drop1.image {
  background-image: url(../images/puzzle1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.drop-zone.drop2.image {
  background-image: url(../images/puzzle2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.drop-zone.drop3.image {
  background-image: url(../images/puzzle3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.drop-zone.drop4.image {
  background-image: url(../images/puzzle4.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cup-final {
  position: absolute;
  top: 3vw;
  width: 27vw;
  height: 45vw;
  left: 33vw;
  display: none;
}

.drawing-section {
  width: 100%;
  height: 60vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shape {
  position: relative;
  width: 90vw;
  height: 55vw;
  background: black;
  clip-path: polygon(0% 7%, 100% 0%, 100% 92%, 0% 100%);
  overflow: visible;
}

.cup-image {
  position: absolute;
  width: 110vw;
  height: 210vw;
  top: -5vw;
  left: 60vw;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#drawingCanvas {
  position: absolute;
  top: 25vw;
  left: 21.3vw;
  transform: rotate(32deg);
  width: 33vw;
  height: 13vw;
  background: white;
  border: 1vw solid #333232;
  cursor: crosshair;
  z-index: 2;
}

.feather-draw {
  position: absolute;
  animation: featherMove 1.5s infinite ease-in-out alternate;
}

.feather-draw1 {
  height: 40vw;
  width: 15vw;
  left: 70vw;
  top: 8vw;
}

.feather-draw2 {
  height: 20vw;
  width: 11vw;
  left: 65vw;
  top: 10vw;
  animation-delay: 0.3s;
}

.feather-draw3 {
  height: 40vw;
  width: 10vw;
  left: 5vw;
  top: -1vw;
  animation-delay: 0.6s;
  z-index: 10;
}

.feather-draw4 {
  height: 40vw;
  width: 13vw;
  left: 5vw;
  top: 25vw;
  animation-delay: 0.9s;
  z-index: 10;
}

.window66 {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
}

.text66 {
  z-index: 12;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.3vw;
  font-weight: 820;
  color: rgb(0, 0, 0);
  line-height: 0.9;
  margin: 0;
  padding: 0;
  animation: shake6 0.2s ease-in-out infinite alternate;
  position: absolute;
  top: 15.1vw;
  left: 14vw;
}

.img66 {
  position: absolute;
  top: 8.1vw;
  left: 10vw;
  height: 25vw;
  width: 38vw;
  animation: shake2 0.2s ease-in-out infinite alternate;
}

.footer-section {
  width: 100%;
  height: 48vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer-shape {
  position: relative;
  width: 90vw;
  height: 40vw;
  max-height: 546px;
  background: #d1293c;
  clip-path: polygon(0% 9.7%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 800;
  font-size: 5.5vw;
  padding: 4vw 0vw 0vw 0vw;
}

.text-line {
  display: flex;
  letter-spacing: 0.05em;
}

.text-line span {
  display: inline-block;
  transition: transform 0.1s ease;
}

.text-line span:hover {
  animation: shakeLetter 0.5s infinite;
}

.line-footer {
  position: absolute;
  width: 85vw;
  height: 40vw;
  top: 0;
  left: 2vw;
}

@keyframes shakeLetter {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(0px, 1px) rotate(2deg);
  }
  20% {
    transform: translate(-2px, -2px) rotate(1deg);
  }
  30% {
    transform: translate(1px, -3px) rotate(-2deg);
  }
  40% {
    transform: translate(2px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(3px, 0px) rotate(-1deg);
  }
  60% {
    transform: translate(0px, 2px) rotate(-3deg);
  }
  70% {
    transform: translate(-3px, -2px) rotate(1deg);
  }
  80% {
    transform: translate(-2px, 3px) rotate(3deg);
  }
  90% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  100% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}

.text-line span {
  display: inline-block;
}

.text-line span:hover {
  animation: shakeLetter 0.5s infinite;
}

.footer-text {
  position: relative;
  z-index: 2;
}

.line-footer {
  z-index: 0;
}

.word-gap {
  display: inline-block;
  width: 2vw;
}

.window77 {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
}

.text77 {
  z-index: 12;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.3vw;
  font-weight: 820;
  color: rgb(0, 0, 0);
  line-height: 0.9;
  margin: 0;
  padding: 0;
  animation: shake6 0.2s ease-in-out infinite alternate;
  position: absolute;
  top: -12vw;
  left: -1vw;
  white-space: nowrap;
}

.img77 {
  position: absolute;
  top: -17vw;
  left: -5vw;
  height: 25vw;
  width: 38vw;
  animation: shake2 0.2s ease-in-out infinite alternate;
}
